.positive-value {
    color: #30932C;
}

.negative-value {
    color: #BA0E0E;
}

.bg-positive-value {
    background-color: #30932C;
    color: white;
}

.bg-negative-value {
    background-color: #BA0E0E;
    color: white;
}